.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #FF731A; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #list-city::-webkit-scrollbar{
    width: 5px;               /* width of the entire scrollbar */
    
  }
  
  #list-city::-webkit-scrollbar-thumb{
    scroll-margin-right: 30px;
    background-color: #FF731A;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
   
  }